{#
/**
 * @file
 * Theme override to display a publication node in search result view mode.
#}
<h3 class="card--title"><a href="{{ url }}">{{ label }}</a></h3>
<p class="meta">
  <span class="label-inline">{{ content.field_published_date | field_label }}</span>
  <span class="date-display-single">{{ content.field_published_date | field_value }}</span>
  <span class="meta-list-item">{{ content.field_publication_type | field_value }}</span>
</p>

{{ content | without('field_published_date', 'field_publication_type') }}
