{#
/**
 * @file
 * Theme override to display a health condition node in search result view mode.
#}
<h3 class="accordion-section-title"><a href="{{ url }}">{{ label }}</a></h3>
{% set symptom_list %}
  {% for i in 1..4 %}
    {% set symptom = attribute(content, 'field_hc_primary_symptom_' ~ i) | render | striptags %}
    {% if symptom is not empty %}<li class="meta">{{ symptom }}</li>{% endif %}
  {% endfor %}
{% endset %}
{% if symptom_list|trim is not empty %}
<div class="symptoms">
  <span class="label-inline">Symptoms include:</span>
  <ul class="values list--inline list--no-bullet">
    {{ symptom_list }}
  </ul>
</div>
{% endif %}
<div class="further-info accordion-section">
  <p class="extract">
    {{ content.field_summary|render|striptags }}
    {#<a class="more" href="{{ url }}">Find out more<span class="visually-hidden"> about {{ label }}</span></a>#}
  </p>
  {% if content.related_conditions|render|striptags is not empty %}
    <h4>Related conditions</h4>
    {{ content.related_conditions }}
  {% endif %}
</div>
