{#
/**
* @file
* Block template for exposed filter form attached to Health conditions search / A to Z.
#}
{%
set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'sub-menu',
  'sub-menu--widget'
]
%}
<div{{ attributes.addClass(classes) }}>
{% if label %}
<h2{{ title_attributes.addClass('menu-title') }}>{{ label }}</h2>
{% endif %}
<p class="label label--small" aria-hidden="true">{{ 'Search health conditions or symptoms'|t }}</p>
{% block content %}
  {% if content_attributes is not empty %}
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
{% endblock %}
</div>
