{% if content %}
  <div {{ attributes.addClass('two-cols') }}>
    {% if content.one %}
      <div {{ region_attributes.one.addClass('col one') }}>
        {{ content.one }}
      </div>
    {% endif %}
    {% if content.two %}
      <div {{ region_attributes.two.addClass('col two') }}>
        {{ content.two }}
      </div>
    {% endif %}
  </div>
{% endif %}
